<%= form_for(@incident) do |f| %>
  <% if @incident.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@incident.errors.count, "error") %> prohibited this incident from being saved:</h2>

      <ul>
      <% @incident.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :occurance %><br>
    <%= f.datetime_select :occurance %>
  </div>
  <div class="field">
    <%= f.label :duration %><br>
    <ul>
      <li><button class="quick-set" data-duration="300" />5 minutes</li>
      <li><button class="quick-set" data-duration="600" />10 minutes</li>
      <li><button class="quick-set" data-duration="900" />15 minutes</li>
      <li><button class="quick-set" data-duration="1800" />30 minutes</li>
      <li><button class="quick-set" data-duration="3600" />60 minutes</li>
    </ul>
    <%= f.number_field :duration %> seconds (1800 seconds = 30 min)
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
